<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <input type="text" id="myInput">
<!-- camelCse | SnakeCase | Kebab-Case-->
<button class="btn" type="button" onclick="AddTextToList()">add to tasks..</button>
<hr/>
    <ul class="myUl">
    <li>Have a break</li>
    <li>Learn something funny</li>
    </ul>
    <script src="/backend/scripts.js"></script>
</body>
</html>