<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<style>
    *{
    padding:0;
    margin:0;
        text-align:center;
    }
</style>
<body>
<div class="container" style="background-color:skyblue">
    <h1> My Name is[ursila]</h1>
    <p>I am a web developer</p>
    <p> My favorite language are</p>
</div>
<span class="badge rounded-pill bg-success">HTML</span>
<span class="badge rounded-pill bg-success">CSS</span>
<span class="badge rounded-pill bg-success">JS</span>
<span class="badge rounded-pill bg-success">Bootstrap</span>
 <hr/>
</body>
<button type="button" class="btn btn-outline-danger"><a href ="calculator.html">Check my to do list</a></button>

</html>